@import-normalize;

body {
  margin: 0;
}

.debug {
  outline: 1px lightpink dashed;
}

.fade-text:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(249, 249, 251) 50%
  );
}
